@charset "UTF-8";

*{
            margin: 0px;
            padding: 0px;
        }

        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }

        img{
            width: 100vw;
        }

        a{
            display: block;
            background-color: red;
            color: white;
            margin-top: -4px;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            font-weight: bolder;
        }

        a:hover{
            background-color: darkred;
        }